img {
	height: 30px;
	width: 30px;
}

.critter-container {
	height: 30px;
	width: 30px;
	display: inline-block;
	position: absolute;
}

.whiteKnight {
	position: absolute
}

.container {
	width: 100%
}

.grid {
	width:500px
	height: 200px
}